{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}

  <h1>
    Register
  </h1>
  <p>
    Create an account and get free unlimited access
  </p>

  {{ form_start(registrationForm, {'attr': {'class': 'form-grid'}}) }}
  <div class="inputs">
    <label class="mdc-text-field mdc-text-field--outlined left">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label">First name</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      {{ form_widget(registrationForm.firstName, {'attr': {'class': 'mdc-text-field__input'}}) }}
    </label>

    <label class="mdc-text-field mdc-text-field--outlined right">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label">Last name</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      {{ form_widget(registrationForm.lastName, {'attr': {'class': 'mdc-text-field__input'}}) }}
    </label>

    <label class="mdc-text-field mdc-text-field--outlined full">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label">Email</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      {{ form_widget(registrationForm.email, {'attr': {'class': 'mdc-text-field__input'}}) }}
    </label>


    <label class="mdc-text-field mdc-text-field--outlined left">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label">Password</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'mdc-text-field__input'}}) }}
    </label>

    <label class="mdc-text-field mdc-text-field--outlined right">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label">Confirm password</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'mdc-text-field__input'}}) }}
    </label>
    <a class="login-link full" href="/login">Already have an account login?</a>
  </div>

  
  <button class="mdc-button mdc-button--raised submit">
    <span class="mdc-button__label">Register</span>
  </button>
  {{ form_end(registrationForm) }}
{% endblock %}
